In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from scipy.special import expit

In [2]:
df = pd.read_csv("Student-University.csv", header = None)

In [3]:
df.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [4]:
#X = list(df[0])
X = df.iloc[:,0:2]
Y = list(df[2])

#print(X.max())
for i in range(len(X)):
    X[0] =  ( X[0] - X[0].min() ) / ( X[0].max() - X[0].min() ) 
    X[1] =  ( X[1] - X[1].min() ) / ( X[1].max() - X[1].min() )

In [5]:
X.head()

          0         1
0  0.065428  0.694655
1  0.003266  0.194705
2  0.082968  0.619618
3  0.431764  0.816001
4  0.701943  0.655392

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 111)

In [7]:
x1 = list(x_train[0])
x1_test = list(x_test[0])
x2 = list(x_train[1])
x2_test = list(x_test[1])

In [8]:
b = [1,0.5,0.5]
l_rate = 0.3
e = 2.71828

In [9]:
n = len(x1)

In [10]:
def grad_desc(b):
    p = []
    x = []
    a = 0
    for i in range(n):
        x.append(b[0] + b[1] * x1[i] + b[2] * x2[i])
        #print(x[i])
    for i in range(n):
        #print( expit(x[i]) )
        p.append( 1 / ( 1 + ( e ** ( -1 * x[i] ) ) ) )
#         if(p[i] > 0.5):
#             p[i] = 1
#         else:
#             p[i] = 0
        #p.append( 1 / ( 1 + ( e ** ( -1 * x[i] ) ) ) )
        #print(p[i])
    for j in range(3):
        for i in range(n):
            a = l_rate * (y_train[i] - p[i]) * (p[i]) * (1 - p[i])
            if(j == 1):
                a *= x1[i]
            if(j == 2):
                a *= x2[i]
            b[j] += a 
        #print(b[j])
    return b

In [11]:
for i in range(5):
    b = grad_desc(b)
    #print(b[0])
#print(b)

In [12]:
x = []
pred = []
nt = len(x_test)

for i in range(nt):
    x.append(b[0] + b[1] * x1_test[i] + b[2] * x2_test[i])
for i in range(nt):
    pred.append( 1 / ( 1 + ( e ** ( -1 * x[i] ) ) ) )
    
#print(pred)
for i in range(nt):
    if (pred[i] > 0.5):
        pred[i] = 1
    else:
        pred[i] = 0
#print(pred)

In [13]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

[[ 9  1]
 [ 0 10]]
              precision    recall  f1-score   support

           0       1.00      0.90      0.95        10
           1       0.91      1.00      0.95        10

    accuracy                           0.95        20
   macro avg       0.95      0.95      0.95        20
weighted avg       0.95      0.95      0.95        20