In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from scipy.special import expit
from numpy.linalg import eig

In [2]:
df = pd.read_csv("Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
x = df.iloc[:,1]

In [5]:
y = df.iloc[:,2]

In [6]:
x_mean = 0;
y_mean = 0;
n = len(x)
for i in range(n):
    x_mean += x[i]
    y_mean += y[i]
x_mean = x_mean / n
y_mean = y_mean / n

In [7]:
cov_xy = 0;
cov_xx = 0;
cov_yy = 0;

for i in range(n):
    cov_xy += ( (x[i] - x_mean) * (y[i] - y_mean) )
    cov_xx += ( (x[i] - x_mean) * (x[i] - x_mean) )
    cov_yy += ( (y[i] - y_mean) * (y[i] - y_mean) )
cov_xy = cov_xy / ( n - 1 )
cov_xx = cov_xx / ( n - 1 )
cov_yy = cov_yy / ( n - 1 )

In [8]:
C = [ [cov_xx, cov_xy], [cov_xy, cov_yy] ]

In [9]:
values, vectors = eig(C)

In [10]:
max_val = values[0]
max_i = 0
for i in range(len(values)):
    if max_val < values[i]:
        max_i = i
        max_val = values[i]
eig_value = values[max_i]
eig_vector = vectors[:,max_i]
V = eig_vector

In [11]:
Y = []
for i in range(n):
    Y.append(( x[i] * V[0] ) + ( y[i] * V[1] ) )
red = pd.DataFrame(Y)
red

            0
0    4.810774
1    4.650475
2    4.435452
3    4.343575
4    4.703263
..        ...
145  6.444966
146  6.085278
147  6.245578
148  5.915226
149  5.647414

[150 rows x 1 columns]

## Using inbuilt Function

In [12]:
X = df.iloc[:,1:5]
X
Y = df.iloc[:,5]
Y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [13]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2)

principalComponents = pca.fit_transform(X)
principalDF = pd.DataFrame(data = principalComponents, columns = ['PCA1', 'PCA2'])
finalDF = pd.concat([principalDF, df[['Species']]], axis = 1)
finalDF

         PCA1      PCA2         Species
0   -2.684207  0.326607     Iris-setosa
1   -2.715391 -0.169557     Iris-setosa
2   -2.889820 -0.137346     Iris-setosa
3   -2.746437 -0.311124     Iris-setosa
4   -2.728593  0.333925     Iris-setosa
..        ...       ...             ...
145  1.944017  0.187415  Iris-virginica
146  1.525664 -0.375021  Iris-virginica
147  1.764046  0.078519  Iris-virginica
148  1.901629  0.115877  Iris-virginica
149  1.389666 -0.282887  Iris-virginica

[150 rows x 3 columns]